<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-light bg-faded">
          <a class="navbar-brand" href="#">
            <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
          </a>
        </nav>
        {% for msg in app.session.flashBag.get('notice') %}
              <div class="alert alert-success">
                {{ msg }}
              </div>
        {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
